<div id='requirement'>
  <h2><%= @requirement.title %></h2>
  <%= simple_format(@requirement.requirements) %>
  </div>


<%= link_to "Edit Requirement", [:edit, @project, @requirement] %>
<%= link_to "Delete Requirement", [@project,@requirement], method: :delete,
  data: { confirm: "Are you sure you want to delete this requirement?"} %>
